body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #edf4ff;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
